{% extends "base.html" %}

{% block title %} formulaire{% endblock %}

{% block content %}
    {% load i18n %}
    {% load static %}
    <script src="{% static 'base/d3.v4.min.js' %}"></script>

    <h1> Add reservation </h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ reservation_form.as_p }}
        <g id="periodicity">
            {{ periodicity_form.as_p }}
        </g>
        <input type="submit" value="Soumettre">
    </form>

     <script type="text/javascript">
        mainHide()
        document.getElementById("id_has_periodicity").onclick = mainHide;
        document.getElementById("id_periodicity_type").onclick = mainHide;
    </script>

{% endblock %}
