.cir_wk {
  fill: darkgreen;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold
}

.rec_wk {
  fill: darkgreen;
  cursor: pointer;
  font-size: 1.2em;
}

.sel_wk {
  fill: none;
  stroke: darkkhaki;
  stroke-width: 4
}