{% extends "base.html" %}

{% block title %} Reservation{% endblock %}

{% block content %}
    {% load i18n %}
    {% load static %}
    <script src="{% static 'base/d3.v4.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'base/jquery.min.js' %}"></script>

    Choose a room : <FORM NAME="formReserv">
        <select id="selectRoom" onchange="changee()">
            <option>rmv_reserv</option>
            <option>all</option>
        </select>

        <INPUT TYPE="button" NAME="b" VALUE="Room " onClick=liste(formReserv);>

    </form>

    <p id="demo"></p>

    <svg height="440" width="400">
    <g class="dateS">
  </g>
    <g class="salleS">
  </g>
    <g class="reservationS">
  </g>
    <g class="grilleS">
  </g>
    <g class="scaleS">
  </g>
    <g class="dates">
  </g>
    <g class="room_lines">
  </g>
    <g class="grille">
  </g>
</svg>

    <script src="{% static 'base/dataTest.js' %}"></script>
    <script src="{% static 'base/display-reserv-T.js' %}"></script>
    <script src="{% static 'base/display-reserv-S.js' %}"></script>

    <script type="text/javascript">
        rmvStatut = 0

        function rmv_total() {
            if (rmvStatut == 1) {
                //console.log("rmv T")
                rmv_reservT()
        }

            if (rmvStatut == 2) {
                //console.log("rmv S")
                rmv_reservS()
            }
        }

        function liste(formReserv) {
            //console.log("start " + rmvStatut)
            if (formReserv.selectRoom.value == "rmv_reserv") {
                rmv_total()
            }

            if (formReserv.selectRoom.value == "all") {
                rmv_total()
                rmvStatut = 1
                //console.log(rmvStatut)
                mainT()
            }

            if (formReserv.selectRoom.value != "all" && formReserv.selectRoom.value != "rmv_reserv") {
                rmv_total()
                rmvStatut = 2
                //console.log(rmvStatut)
                mainS()
            }


        function changee() {

        }

        }
    </script>


{% endblock %}


</html>
