<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>listeReserv</title>
</head>

{% extends "base.html" %}
{% load i18n %}

{% block title %} listeReserv {% endblock %}
{% load static %}

<script src="{% static 'base/d3.v4.min.js' %}"></script>
<script type='text/javascript' src="{% static 'base/jquery.min.js' %}"></script>
<script src="{% static 'base/dataTest.js' %}"></script>

{% block content %}
    <select name="listReserv" id="listReserv-select">
        <option value="">Select a room</option>
        <option value="dog">All rooms</option>
        <option value="dog">B004</option>
        <option value="dog">B105</option>
    </select>

{% endblock %}


</html>
