<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
</head>

{% extends "base.html" %}
{% load i18n %}

{% block title %} Reservation {% endblock %}
{% load static %}

<script src="{% static 'base/d3.v4.min.js' %}"></script>
<script type='text/javascript' src="{% static 'base/jquery.min.js' %}"></script>
<script src="{% static 'base/dataTest.js' %}"></script>
<script type='text/javascript' src="{% static 'base/display-reserv-S.js' %}"></script>

{% block content %}

    <script type="text/javascript"> function liste(formReserv) {
        if (formReserv.listReserv.value != "All") {
            src="main.js";
            alert("all if "+formReserv.listReserv.value);
            }
    }
    </SCRIPT>

</HEAD>
<BODY>
Entrez votre choix : <FORM NAME="formReserv">
<SELECT NAME="listReserv">
<OPTION VALUE="All">All the room
<OPTION VALUE="B004">B004
<OPTION VALUE="B105">B105
</SELECT>
<INPUT TYPE="button" NAME="b" VALUE="Room " onClick=liste(formReserv);> </FORM>
</BODY>

<!--
if (formReserv.listReserv.value == "All") {
            alert("all if "+formReserv.listReserv.value);
            }
-->

<svg height="440" width="400">
    <g class="dates">
  </g>
    <g class="salles">
  </g>
    <g class="reservations">
  </g>
    <g class="grille">
  </g>
    <g class="echelles">
  </g>
    <g class ="anothers">
  </g>
</svg>



{% endblock %}


</html>
