<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="./d3.v4.min.js"></script>
    <script src="./jquery.min.js"></script>
    <script src="./data.js"></script>
    <title>Reservation</title>
</head>

{% extends "base.html" %}

{% block title %} Reservation {% endblock %}


<svg height="440" width="400">
  <g class="courses-layer">
  </g>
  <g class="grid-layer">
  </g>
</svg>

{% block content %}

<script type='text/javascript' src="./script.js"></script>

{% endblock %}


</html>
